span{
    font-weight:bold;
    font-family: Helvetica ;
    color: blue;
}
h1{
    font-family:Helvetica;
    font-size: 100px;
    text-align: center;
    text-align: horizontal;
    font-weight:bold;
    color:khaki;
    
    
}
.brushes{
    background-color:mediumspringgreen;
}
.paint{
    background-color:skyblue ;
}
.frames{
    background-color:lightcoral ;
}
h2{
    font-family:Helvetica;
    font-size: 32px;
    color:white;
    font-weight: bold;
}
header{
    background-image:url("C:/Users/moyo1/Documents/VisualStudiocode/Dashmoto's Arts&Craft/képek/pattern.jpg");
}

